.sidebarChat {
	display: flex;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid #f6f6f6;
	transition: var(--sht-trans);
}

.room__active:active {
	background-color: #ebebeb !important;
}

a {
	text-decoration: none !important;
	color: #000;
}

.sidebarChat:hover {
	background-color: #ebebeb;
}

h2 {
	font-size: 16px;
	margin-bottom: 8px;
}

.delete__icon {
	margin-left: 50px;
}

.sidebarChat__info {
	margin-left: 15px;
}

.delete__wrapper {
	margin-left: auto;
	background-color: red;
}

.delete__wrapper .MuiSvgIcon-root {
	font-size: 25px;
	transition: var(--sht-trans);
}

.delete__wrapper .MuiSvgIcon-root:hover {
	transform: scale(1.2);
}
