:root {
	/* TRANSITIONS */
	--sht-trans: all 200ms ease-in-out;
	--med-trans: all 0.5s ease-in-out;
}

.flexed {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.App {
	display: grid;
	place-items: center;
	background-color: #dadbd3;
	height: 100vh;
}

.app__body {
	display: flex;
	margin-top: -40px;
	background-color: #ededed;
	height: 90vh;
	width: 90vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
